

// FONTS

@import "_fonts.scss";

// Variables
@import "style/_custom-variables.scss";

// MIXINS
@import "style/_custom-mixins.scss";

// BOOTSTRAP
@import "_bootstrap.scss";

.heading{
	
	&--main{

		@include font($font-family-main,18px,$gray-base,uppercase);
	}

	&--store{
		
		@include font($font-family-sub,16px,$gray-base,uppercase);
		
	}
}

.navbar{

	&--custom{

		@include padding-vertical(14px, 14px);
		margin:0;
		border: none;
		position: relative;
	}

	&-collapse{

		&--custom{

			border:none;
			text-align: center;
			position: absolute;
		    top: 71px;
		    width: 97%;
		    left: 20px;
		    background: $brand-secondary;
		    @include padding-horizontal(0,0);
		    z-index:$zindex-navbar;
		}
	}

	&-toggle{

		&--custom{
			border:none;
			float:left;
			border-radius: 0;
			@include padding-custom(7px, 7px, 7px, 7px);
			@include margin-vertical(4px, 0);
			
			&:hover,
			&:focus{
				.icon-bar{
					background-color: $brand-secondary;
				}
			}
		}
	}

	&-nav{
		
		&--custom{

			@include margin-custom(0, 0, 0, 0);
			float:none;
			@include padding-vertical(36px, 37px);
		}

		.navbar-nav{
			
			&__link{
				@include padding-vertical(23px, 23px);
			}

		}

		&__link{

			display: block;
			@include font($font-family-main,18px,$brand-primary,none);
			
		}
	}

	&-header{
		
		&--custom{
			display: inline-block;
		}
	}

	&-brand{
		
		&--custom{

			width: 162px;
			padding: 0;
			
		}
	}	
}

.icon-nav{

	list-style-type: none;
	float:right;
	margin:0;
	padding: 0;
	
	&--store{

		float:none;
		@include margin-vertical(30px, 0);
	}

	&__item{

		float: left;
	}

	&__link{

		display: block;
		@include padding-custom(7px, 7px, 7px, 7px);
		
		&:hover,
		&:focus{

			background-color: $brand-primary;
			color: $gray-lighter;
		}

		&--footer{

			@include padding-custom(10px, 14px, 5px, 14px);
			// @include margin-horizontal(8px, 7px);
			background-color: transparent;
			color: $gray-lighter;
			
			&:hover,
			&:focus{
				background-color: $brand-secondary;
				color: $gray-base;
			}
		}
	}

	&--footer{

		float:none;
		display: inline-block;
		@include margin-vertical(0, 25px);
		
	}
}

.header{

	&__bg{

		@include background-cover;
		height: 415px;
	}
}

.main{

	@include padding-vertical(40px, 40px);

	&__heading{

		@include margin-vertical(0, 30px);

		&-holder{

			text-align: center;
		}
	}

	&__img{

		@include background-cover;
		position: relative;
		
		&--fall-winter{
			
			width: 175px;
			height: 255px;
			@include margin-custom(0, 0, 35px, 20px);
		}

		&--spring-summer{

			width: 270px;
			height: 265px;
			@include margin-custom(0, auto, 50px, auto);
		}

		&--winter{

			width: 210px;
			height: 280px;
		}
		
		&-caption{
			
			@include font($font-family-main,14px,$gray-base,uppercase);
			position: absolute;
			
			&--fall-winter{

				bottom: 73px;
    			right: -75px;
			}

			&--spring-summer{

				bottom: 10px;
    			right: 15px;
			}

			&--winter{

				bottom: 27px;
    			left: -75px;
			}

		}
	}

	&__icon{

		display: inline-block;
		
		&-square{
			
			transform: rotate(30deg);
		}

		&-triangle{

			transform: rotate(-15deg);
		}
	}
	
	&__nav{

		list-style-type: none;
		background-color: $gray-light;
		@include padding-horizontal(0px, 0px);
		@include margin-horizontal(-15px, -15px);
		text-align: center;
		
		&-item{
			
			display: inline-block;
			position: relative;
			
			&--active{

				top:-3px;
				
				.main__nav-link{
					
					color: $gray-base;
				}
			}
		}

		&-link{
			
			@include font($font-family-main, 18px,$gray-darker, none);
			display: block;
			@include padding-custom(25px, 15px, 21px, 15px);
			
			&:hover,
			&:focus{
				color: $gray-base;
			}
		}
	}

	&-store{

		text-align: center;
		
		&__img{
			
			width:180px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			
			&:hover,
			&:focus{

				.main-store__img-item{

					opacity:0;
					
					&--hover{
						
						opacity:1;
					}
				}

			}

			&-heading{

				@include margin-vertical(0, 20px);

			}
			
			&-item{

				opacity:1;
				
				&--hover{

					opacity:0;
					position: absolute;
    				top: 0;
				}
			}
			
			&-price{

				@include font($font-family-main,18px,$gray-base,uppercase);
				display: inline-block;
				transform: rotate(-90deg);
				position: absolute;
				left: 0;
			    bottom: 35%;
			}
			
			&-caption{
				
				display: inline-block;
				vertical-align: top;
				text-align: left;
				@include padding-vertical(30px, 30px);
			}

			&-category{

				@include font($font-family-sub,14px,$gray-base,none);
				display: block;
			}
		}
	}

}

.footer{
	
	background-color: $brand-primary;
	color: $brand-secondary;
	text-align: center;
	

	&__nav{

		@include margin-vertical(0px,22px);
		display: inline-block;
		

		.footer{
			
			&__nav{

				&-item{
					@include margin-horizontal(0,0);

				}
			}
		}		

		.footer{

			&__nav{

				&-link{
			
					@include font($font-family-main,12px,$gray-lighter,none);
					@include padding-custom(18px, 11px, 18px, 11px);
					border-radius:0;
					
					&:hover{
						
						background-color: $brand-secondary;
						color: $gray-base;
					}
				}

			}
		}
		
	}

	&__form{

		text-align: center;

		&-label{

			@include font($font-family-main,14px,$gray-lighter,uppercase);
		}

		&-btn{

			background-color: transparent;
			position: absolute;
			top: -8px;
    		right: 0;
    		
    		&:focus{

    			color: $gray-lighter;
    			outline: none;
    		}
		}

		&-input{

			width: 90%;
			
			&-holder{
				
				position: relative;
				
			}

			::-webkit-input-placeholder {
			
				@include font($font-family-sub,10px,$gray-lighter,none);
			}

			:-moz-placeholder { /* Firefox 18- */
			   @include font($font-family-sub,10px,$gray-lighter,none); 
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   @include font($font-family-sub,10px,$gray-lighter,none);  
			}

			:-ms-input-placeholder {  
			   @include font($font-family-sub,10px,$gray-lighter,none);  
			}
		}

		&-holder{

			@include padding-vertical(40px, 0);
			@include margin-vertical(0, 25px);
		}
		
	}

	&__copyrights{

		border-top: 1px solid $gray-dark;		
		@include font($font-family-main,14px,$gray-dark,none);
		@include padding-vertical(20px,22px);
	}

	&__content{
		
		@include padding-vertical(40px,25px);
	}
}

.form{
	
	&__input{

		background-color: transparent;
		border:none;
		border-bottom: 1px solid $gray-lighter;
		
		&:focus{
		
			outline: none;
		}


	}


}



// RESPONSIVE

@media (min-width: $screen-sm){

	.navbar{

		>.container{

			.navbar-brand--custom{

					@include margin-horizontal(0,0);
			}			
		}

		&--custom{

			@include padding-vertical(20px, 20px);
			position: static;				
		}

		&-nav{
			
			&--custom{
				
				@include margin-custom(7.5px, 0, 7.5px, 0);
				display: inline-block;
				@include padding-vertical(0, 0);
			}

			.navbar-nav{
			
				&__link{
					@include padding-custom(13px, 13px, 13px, 13px);
				}
			}			
		}

		&-collapse{

			&--custom{

				
				position: static;
			    
			    width: 100%;
			    
			    
			    @include padding-horizontal(0,0);
			}
		}		
	}	

	.icon-nav{
		
		@include margin-vertical(10px, 0);
		
		&--store{

			@include margin-vertical(0, 0);
			position: absolute;
		    top: 0;
		    margin: 0;
		    left: 0;

		}

		&__link{
			@include padding-custom(10px, 10px, 10px, 10px);
			
			&--footer{
				
				@include margin-horizontal(8px, 7px);
			}
		}

		&--footer{

			margin:0;
		}
	}

	.header{

		&__bg{

			height: 490px;
		}
	}
	
	.main{

		&__nav{
			
			background-color: transparent;
			text-align: left;
			@include margin-horizontal(0, 0);
					
			&-item{
				
				display: block;
				
				
				&--active{

					top:0;
					
					>.main__subnav{
						display: block;
					}
					
					
				}
			}

			&-link{
				color: $gray-base;
			}
		}
		
		&__subnav{
		
			list-style-type: none;
			@include padding-horizontal(0px, 15px);
			text-align: left;
			
			&-link{
				
				&:hover,
				&:focus{
					text-decoration: underline;
				}
			}
		}

		&-store{

			@include padding-vertical(50px, 80px);
			
			&__grid{

				@include padding-vertical(70px, 0);
			}

			&__product{
				
				position: relative;
			}
			
			&__img{

				width:200px;

				&:hover,
				&:focus{

					+.main-store__img-caption{

						opacity:1;
					}

				}

				&-heading{
					margin:0;
				}

				&-caption{
					
					text-align: right;
					opacity:0;
					float:right;
					@include padding-vertical(0, 0);
				}

				&-category{
					
					display: inline-block;
				}
				
				&-price{
					bottom: 15%;
				}
			}

			&__breadcrumb{
				
				list-style-type: none;
				@include padding-horizontal (0,0);
				@include margin-vertical (0, 100px);
				text-align: left;
				
				li{
					display: inline-block;
					@include font($font-family-sub,18px,$gray-base,none);
					
					&:after{

						content:"/";
					}

					&:last-child{
						
						&:after{
							content:"";
						}
					}

					a{
						@include font($font-family-sub,18px,$gray-base,none);
						
						&:hover,
						&:focus{

							color: $gray-darker;
						}
					}

					&.active{
						color: $gray-darker;
					}
				}
			}

			&__pagination{
				
				>li{
					&:first-child,
					&:last-child{
						
						>a{
							border-radius:0;
						}
					}

					>a{
						border:none;
						border-radius:0;
						
						
						&:hover,
						&:focus{
							background-color: $gray-base;
							color: $gray-lighter;
						}
						
					}
				}

				>.active{
					>a{
						background-color: transparent;
						color: $gray-base;
						text-decoration: underline;
						
						&:hover,
						&:focus{
							background-color: $gray-base;
							color: $gray-lighter;
						}
					}
				}
			}
		}
	}
	
}

@media (min-width: $screen-lg){

	.heading{
		
		&--main{

			font-size: 48px;
		}
	}

	.navbar{

		

		&-nav{

			&__link{
				@include font($font-family-main,24px,$brand-primary,none);
			}

			.navbar-nav{
			
				&__link{
					@include padding-custom(38px, 38px, 38px, 38px);
				}
			}

			&--custom{
				
				@include padding-vertical(0, 0);
				@include margin-horizontal(15px, 15px);
			}		
		}

		&-brand{
		
			&--custom{
				@include margin-vertical(20px, 0);
				
			}
		}
	}

	.icon-nav{

		@include margin-vertical(38px, 0);
		
		&--footer{
			
			@include margin-vertical(25px, 0);
		}
	}

	.main{
		
		@include padding-vertical(170px, 150px);
		
		&-store{
			
			&__img{

				width:320px;
			}
		}
		
		&__img{
			
			&--fall-winter{
				
				width: 100%;
				height: 700px;
				@include margin-custom(0, 0, 35px, 20px);
			}

			&--spring-summer{

				width: 100%;
				height: 790px;
				@include margin-custom(0, auto, 50px, auto);
			}

			&--winter{

				width: 100%;
				height: 650px;
			}
			
			&-caption{
				
				font-size: 24px;
				
				&--fall-winter{

					bottom: 50%;
    				right: 54%;
				}

				&--spring-summer{

					bottom: 38%;
	    			right: 0;
				}

				&--winter{

					bottom: 14%;
    				left: -21%;
				}
			}
			
		}

		&__icon{
			
			&-square{
				
				@include margin-vertical(120px, 0);
			}

			&-triangle{

				@include margin-vertical(510px, 0);
			}

			&-circle{

				@include margin-vertical(380px, 0);
			}
		}
	}

	.footer{
			
		&__content{

			@include padding-vertical(75px,75px);
		}

		&__nav{

			
			@include padding-vertical(0,0);
			@include margin-vertical(0,0);
			

			.footer{
				
				&__nav{

					&-item{
						@include margin-horizontal(0,0);

					}
				}
			}		

			.footer{

				&__nav{

					&-link{
				
						
						@include padding-custom(10px, 20px, 10px, 20px);
						font-size: 18px;
						
						
						&:hover{
							
							background-color: $brand-secondary;
							color: $gray-base;
						}
					}

				}
			}
			
		}

		&__form{
			
			&-label{

				font-size: 18px;
				text-transform: none;
   				width: 30%;
			}

			&-input{

				::-webkit-input-placeholder {			
					font-size: 14px;
				}

				:-moz-placeholder { /* Firefox 18- */
				   font-size: 14px; 
				}

				::-moz-placeholder {  /* Firefox 19+ */
				   font-size: 14px;  
				}

				:-ms-input-placeholder {  
				   font-size: 14px;  
				}

				&-holder{

					width: 68%;
    				display: inline-block;
				}
			}

			&-holder{

				@include padding-vertical(0,0);
				@include margin-vertical(30px,0);
				
			}
		}

		&__copyrights{

			@include padding-vertical(40px,42px);
		}
	}
}
